.title {
  text-align: center;
  height: 10%;
  overflow: auto;
}

.document {
  display: flex;
  justify-content: space-between;
  height: 80%;
  overflow: auto;
}

.left {
  width: 10%;
  text-align: center;
}

.right {
  width: 10%;
  text-align: center;
}

.body {
  width: 78%;
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
}

.img {
  width: 100%;
}

.input {
  width: 100%;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #dddddd;
  height: 10%;
  overflow: auto;
}

img {
  width: 50px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
