.title {
  text-align: center;
  height: 10%;
  overflow: auto;
}

.document {
  display: flex;
  justify-content: space-between;
  height: 80%;
  overflow: auto;
}

.left {
  width: 20%;
  text-align: center;
}

.right {
  width: 20%;
  text-align: center;
}

.body {
  width: 58%;
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
}

.img {
  width: 100%;
}

.input {
  width: 100%;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 10%;
  overflow: auto;
}

img {
  width: 50px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  color: rgb(78, 114, 141);
}

h1,
h2 {
  color: rgb(37, 133, 207);
}
